.layout {
  display: flex;
  gap: 0;
  main {
    margin-left: 40rem;
    padding: clamp(1rem, 5vw, 10rem);
    flex: 1;
    height: 100%;
    min-height: 100vh;
    margin-top: 10rem;
  }
}

.navSecondary {
  display: flex;
  position: absolute;
  right: 8%;
  top: 5%;
  gap: 2rem;
  button {
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    border: 2px solid #0e3a9f;
    border-radius: 1rem;
  }
}

.navigation {
  flex-basis: 40rem;
  flex-grow: 0;
  flex-shrink: 0;
  transition: transform 0.2s ease;
  background-color: #0e3e9f;
  padding: 7rem 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 5;
}

.logo {
  padding: 0 2rem;
  img {
    width: 12rem;
  }
  display: flex;
  gap: 1rem;
  &Text {
    align-self: flex-end;
    margin-bottom: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: SquaresBold, sans-serif;
    span {
      &:first-child {
        font-size: 3.5rem;
      }
      &:last-child {
        font-size: 1.8rem;
        letter-spacing: 1.9rem;
      }
    }
  }
}

.navigationNav {
  list-style-type: none;
  font-size: 1.6rem;
  padding: 0 0;
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    //gap: 2rem;
    li {
      transition: all 0.5s ease;
      a {
      }
      img {
        width: 3rem;
        filter: invert(100%);
      }
      p {
        color: #fff;
        text-transform: capitalize;
        font-family: SquaresBold, sans-serif;
        font-weight: 400;
        padding: 0;
        margin: 0;
      }
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem 4rem;
      cursor: pointer;
      &:link,
      &:visited {
        text-decoration: none;
        color: #fff;

        display: flex;
        gap: 0.6rem;
        align-items: center;
      }
    }
  }
}

.socials {
  ul {
    display: flex;
    list-style: none;
  }
}

.burger {
  position: absolute;
  height: 3rem;
  width: 5rem;
  //background-color: #0e3a9f;
  left: 3rem;
  top: 4rem;
  //position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  div {
    transition: all 0.5s ease;
    height: 5px;
    width: 100%;
    background-color: #bbb;
    position: absolute;
    border-radius: 1rem;
    &:nth-child(1) {
      top: 0;
      right: 0;
      transform-origin: top left;
    }
    &:nth-child(2) {
      top: 40%;
    }
    &:nth-child(3) {
      bottom: 0;
      right: 0;
      transform-origin: bottom left;
    }
  }
  z-index: 10;
  display: none;
}

.burgerActive {
  div {
    background-color: #d5e3ff;
    &:nth-child(2) {
      // display: none;
      background-color: transparent;
    }
    &:nth-child(1) {
      transform: rotate(45deg);
      transform-origin: top left;
      top: -0.85rem;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
      transform-origin: bottom left;
    }
  }
}

.active {
  background-color: #d5e3ff;
  position: relative;
  transition: transform 0.5s ease;
  p {
    color: #0e3e9f !important;
  }
  &::before {
    transition: all 0.5s ease;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1.5rem;
    background-color: #d5e3ff;
    z-index: 5;
    transform: translateX(1.5rem);
  }
  &::after {
    transition: all 0.5s ease;
    content: "";
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    bottom: 0;
    right: 0;
    background-color: #0e3a9f;
    transform: translate(1.4rem, 1.48rem);
    clip-path: polygon(0 0, 0 100%, 100% 0);
  }
}

@media only screen and (max-width: 992px) {
  .burger {
    display: flex;
  }
  .navigation {
    //position: absolute;
    transform: translateX(-110%);
  }
  .navActive {
    transform: translateX(0);
  }
  .layout {
    main {
      margin: 0;
      margin-top: 5rem;
    }
  }
}
