.navigation {
  max-width: 100%;
  background-color: #0e3e9f;
  padding: 7rem 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  max-width: 100%;
}

.logo {
  padding: 0 2rem;
  img {
    width: 12rem;
  }
  display: flex;
  gap: 1rem;
  &Text {
    align-self: flex-end;
    margin-bottom: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: SquaresBold, sans-serif;
    span {
      &:first-child {
        font-size: 3.5rem;
      }
      &:last-child {
        font-size: 1.8rem;
        letter-spacing: 2.6rem;
      }
    }
  }
}

.navigationNav {
  list-style-type: none;
  font-size: 1.6rem;
  padding: 0 0;
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    //gap: 2rem;
    li {
      img {
        width: 3rem;
        filter: invert(100%);
      }
      p {
        color: #fff;
        text-transform: capitalize;
        font-family: SquaresBold, sans-serif;
        font-weight: 400;
      }
      display: flex;
      gap: 1rem;
      padding: 1rem 4rem;
      cursor: pointer;
      &:link,
      &:visited {
        text-decoration: none;
        color: #fff;

        display: flex;
        gap: 0.6rem;
        align-items: center;
      }
    }
  }
}

.socials {
  ul {
    display: flex;
    list-style: none;
  }
}

.active {
  background-color: #d5e3ff;
  p {
    color: #0e3e9f !important;
  }
}
