.userContainer {
  display: flex;
  justify-content: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: SquaresBold, sans-serif;
  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      padding: 0;
      margin: 0;
    }
  }
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  color: #0e3a9f;
  & > p {
    &:first-child {
      padding: 1rem;
      margin: 0;
    }
  }
}

.avatar {
  border: 5px solid #0e3a9f;
  max-width: fit-content;
  border-radius: 100%;
  padding: 0.5rem;
  img {
    width: 13rem;
  }
}

.myNodes {
  & > div:first-child {
    margin: 3rem 0;
  }
}
.form {
  display: flex;
  gap: 2rem;
  input {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    flex: 1;
    border: 1px solid #000;
    &::placeholder {
      text-transform: capitalize;
    }
  }
  button {
    border-radius: 1rem;
    background-color: transparent;
    border: 2px solid #0e3a9f;
    padding: 0.5rem 4rem;
  }
}

@media only screen and (max-width: 400px) {
  .avatar {
    img {
      width: 11rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .form {
    flex-direction: column;
  }
}

// .myNodes {
//   padding: 5rem 10rem;
// }
